@import "tailwindcss";

html,
body {
  height: 100%;
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: Geist, sans-serif;
  user-select: none;
}

@layer base {
  ::-webkit-scrollbar {
    width: 0;
  }

  main {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 5rem;
  }

  ol {
    list-style-type: decimal;
    list-style-position: inside;
  }

  ul {
    list-style-type: none;
    list-style-position: inside;
  }

  li {
    cursor: pointer;
    list-style-type: none;
    list-style-position: inside;
  }

  a {
    color: var(--color-white);
    font-family: inherit;
    font-size: var(--text-sm);
    font-weight: var(--font-weight-normal);
    line-height: var(--text-sm--line-height);
    transition-duration: 700ms;
    transition-property: all;
  }

  p {
    font-family: inherit;
    font-size: var(--text-base);
    font-weight: var(--font-weight-normal);
    line-height: var(--text-base--line-height);
  }

  h1 {
    font-family: inherit;
    font-size: var(--text-4xl);
    font-weight: var(--font-weight-normal);
    line-height: var(--text-4xl--line-height);
    letter-spacing: -0.02em;
  }

  h2 {
    font-family: inherit;
    font-size: var(--text-3xl);
    font-weight: var(--font-weight-normal);
    line-height: var(--text-3xl--line-height);
    letter-spacing: -0.02em;
  }

  h3 {
    font-family: inherit;
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-medium);
    line-height: var(--text-2xl--line-height);
    letter-spacing: -0.02em;
  }

  h4 {
    font-family: inherit;
    font-size: var(--text-xl);
    font-weight: var(--font-weight-medium);
    line-height: var(--text-xl--line-height);
    letter-spacing: -0.02em;
  }

  h5 {
    font-family: inherit;
    font-size: var(--text-lg);
    font-weight: var(--font-weight-medium);
    line-height: var(--text-lg--line-height);
    letter-spacing: -0.02em;

    h6 {
      font-family: inherit;
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: var(--text-base--line-height);
      letter-spacing: -0.02em;
    }
  }
}

@layer components {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  @layer utilities {
    .label-extra-small {
      color: var(--color-neutral-600);
      font-size: 0.625rem;
      font-weight: var(--font-weight-medium);
      line-height: 0.875rem;
    }

    .label-small {
      color: var(--color-neutral-600);
      font-size: var(--text-xs);
      font-weight: var(--font-weight-medium);
      line-height: var(--text-xs--line-height);
    }

    .label-medium {
      color: var(--color-neutral-600);
      font-size: var(--text-sm);
      font-weight: var(--font-weight-medium);
      line-height: var(--text-sm--line-height);
    }

    .label-large {
      color: var(--color-neutral-600);
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: var(--text-base--line-height);
    }

    .paragraph-extra-small {
      font-family: inherit;
      font-size: var(--text-xs);
      font-weight: var(--font-weight-normal);
      line-height: var(--text-xs--line-height);
    }

    .paragraph-small {
      font-family: inherit;
      font-size: var(--text-sm);
      font-weight: var(--font-weight-normal);
      line-height: var(--text-sm--line-height);
    }

    .paragraph-medium {
      font-family: inherit;
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: var(--text-base--line-height);
    }

    .paragraph-large {
      font-family: inherit;
      font-size: var(--text-lg);
      font-weight: var(--font-weight-normal);
      line-height: var(--text-lg--line-height);
    }
  }

  /* MEDIA QUERIES */
  @media (width >= 768px) {
    h1 {
      font-size: var(--text-5xl);
      line-height: var(--text-5xl--line-height);
    }

    h2 {
      font-size: var(--text-4xl);
      line-height: var(--text-4xl--line-height);
    }

    h3 {
      font-size: var(--text-3xl);
      line-height: var(--text-3xl--line-height);
    }

    h4 {
      font-size: var(--text-2xl);
      line-height: var(--text-2xl--line-height);
    }

    h5 {
      font-size: var(--text-xl);
      line-height: var(--text-xl--line-height);
    }

    h6 {
      font-size: var(--text-lg);
      line-height: var(--text-lg--line-height);
    }
  }

  @media (width >= 1024px) {
    main {
      display: flex;
      flex-direction: column;
      height: auto;
      gap: 7.5rem;
    }

    h1 {
      font-size: var(--text-6xl);
      line-height: var(--text-6xl--line-height);
    }

    h2 {
      font-size: var(--text-5xl);
      line-height: var(--text-5xl--line-height);
    }

    h3 {
      font-size: var(--text-4xl);
      line-height: var(--text-4xl--line-height);
    }

    h4 {
      font-size: var(--text-3xl);
      line-height: var(--text-3xl--line-height);
    }

    h5 {
      font-size: var(--text-2xl);
      line-height: var(--text-2xl--line-height);
    }

    h6 {
      font-size: var(--text-xl);
      line-height: var(--text-xl--line-height);
    }
  }
}
